<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/accueil.css">
</head>

<body>

    <div class="container">

        <div class="logo">
            <h3>Mon Blog</h3>
        </div>

        <ul class="navbar">
            <li><a href="/presentation">presentation</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/postuler">Postuler</a></li>
        </ul>

        <div class="connexion">
            <a href="/inscription">Inscription</a>
            <a href="/connexion">Connexion</a>
            <a href="/deconnexion">Deconnexion</a>

        </div>

    </div>

    <div class="image">

        <p><img src="/images/livre.jpeg" </p>
    </div>

    <div class="content">

        <div class="intro">

            Nous vous proposons un large choix d'articles qui couvre l'ensemble des thematiques les plus polulaires.
            Nous abordons egalement des sujets beaucoup moins connus mais qui sont des plus passionnants. <br>
            Nos ecrivains chevronnes , passionnes se sont surpasser afin de vous offrir un travail de qualite qui sans
            aucun doute vous plaira.<br>
            Notre objectif : Vous faire decouvrir les choses sous une autre perspective
        </div>


        <div class="listing">
            <h3> Voici les themes abordes :</h3>
            <p>football</p>
            <p>basketball</p>
            <p>tennis</p>
            <p>mer</p>
            <p>dauphin</p>
            <p>religion</p>
            <p>histoire</p>
            <p>geographie</p>
            <p>etc</p>
        </div>
    </div>

</body>


</html>