<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonBlog - Presentation</title>
    <link rel="stylesheet" href="css/presentation.css">
</head>

<body>

    <div class="logo">
        <h3>Mon Blog</h3>
    </div>

    <div class="presentation">

        <h2>Presentation de la structure</h2>

        <div class="contenu">
            Mon Blog est structure qui vous propose regulierement des articles sur des sujets divers et varies . Elle a
            ete créée en 2019 avec la collaboration de plusieurs ecrivains . Mon Blog vous permet de suivre l'actualite
            dans les differents continents avec nos articles
            publiees quotidiennement
        </div>

    </div>

</body>

</html>